
{% set imagePath = question_template_attribute.image_path  %}
    <div class="interest-points-padding">
        <div class="interest-points-outer-wrapper">
            <div class="droppable items-start">
                <!--
                <div class="marker minus parked" data-sign="-"><i class="fa fa-minus"></i></div>
                <div class="marker plus parked" data-sign="+"><i class="fa fa-plus"></i></div>
                -->
            </div>
            <div class="droppable items-end-wrapper">
                <img src="{{ imagePath }}" class="interest-image" />
            </div>
    	</div>
    </div>
